<h3 class="list-header">{{#link-to 'list' list}}{{list.title}}{{/link-to}}</h3>
{{#link-to 'list-edit' list }}<button class="btn btn-xs btn-primary">Edit</button>{{/link-to}}
<button {{action 'deleteList'}} class="btn btn-xs btn-danger">Delete</button>
