<form class="form-group" {{action 'updateList' on='submit'}} >
  {{input
    class="form-control"
    value=list.title

  }}
</form>
{{#link-to 'lists'}}<button class="btn btn-xs btn-primary">Back</button>{{/link-to}}
