
  {{shopping-list list=model deleteItem='deleteItem' toggleItemDone='toggleItemDone'}}

  {{#link-to 'index'}}<button>Home</button>{{/link-to}}
  {{#link-to 'lists'}}<button>All Lists</button>{{/link-to}}
